@media handheld {
    body {
        font-size: 150%;
    }
}

body {
    font-size: 200%;
    background-color: hsla(60, 42.00%, 66.00%, 1);
    color: hsla(240, 42.00%, 25.00%, 1);
    overflow: none;
}

.body {
    position: absolute;
    top: 0;
    bottom: 1.5em;
    left: 0;
    right: 0;
}

.kni-frame {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    transition: transform 1s ease, opacity 1s ease-out;
}

.kni-frame-a {
    display: table;
    height: 100%;
    width: 100%;
}

.kni-frame-b {
    display: table-cell;
    vertical-align: middle;
    padding: 1em;
    width: 40ex;
}

.kni-frame-c {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
}

.kni-body {
    display: flex-item;
    flex: 0 1 auto;
    max-width: 40ex;
    text-align: justify;
}

th {
    vertical-align: top;
    padding-right: 1ex;
}

td {
    vertical-align: top;
    cursor: pointer;
}

li {
    list-style-type: decimal;
}

a {
    color: inherit;
    font-family: 200%;
}

a:link {
    color: inherit;
}

a:hover {
    color: inherit;
}

a:visited {
    color: inherit;
}

.about {
    position: absolute;
    height: 1em;
    bottom: 0;
    right: 0;
    margin: 10px;
    z-index: 100;
}

.reset {
    position: absolute;
    height: 1em;
    bottom: 0;
    left: 0;
    margin: 10px;
}
